.project-content {
    .table-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 22px;

        .project-select {
            width: 180px;
            border-radius: 4px;
        }

        .project-input {
            width: 320px;
            height: 32px;
            border-radius: 4px;
            margin-left: auto;
        }
    }

    .default-status {
        width: 54px;
        height: 22px;
        border-radius: 2px;
        line-height: 22px;
        text-align: center;
        display: inline-block;
    }

}