.relation-wrapper {
    width: 100%;

    :global(.ant-modal-body) {
        padding: 0;
    }


    header {
        width: inherit;
        height: 64px;
        background: #FAFAFA;
        box-shadow: 0px 1px 0px 0px #E3E8EE;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}